.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: #878269;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  height: 3rem;
  width: auto;
}

nav {
  background-color: #495e57;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

main {
  flex: 1;
  background-color: #edefee;
}

footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #fe6868;
  color: #ffffff;
  padding: 1rem;
}

.footer-logo {
  grid-column: 1;
  justify-self: start;
  width: 2rem;
  height: auto;
}

footer p {
  grid-column: 2;
  margin: 0;
}
